:root {
  --color1: #f2f2f2; /* Blanco */
  --color2: #0476d9; /* Azul oscuro */
  --color3: #0487d9; /* Azul medio */
  --color4: #0477bf; /* Azul intermedio */
  --color5: #049dd9; /* Azul claro */
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color1);
}

header {
  background-color: var(--color2);
  color: white;
  padding: 1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s;
}

header:hover {
  background-color: var(--color3);
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  transition: transform 0.3s, box-shadow 0.3s;
}

.hero-imagen-desarrollador:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: var(--color3);
  color: var(--color1);
  border-radius: 5px;
}

footer {
  background-color: var(--color5);
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: "Raleway", sans-serif;
  transition: background-color 0.3s;
}

footer:hover {
  background-color: var(--color4);
}

#map {
  width: 100%;
  height: 500px;
  margin-bottom: 1rem;
}

.carousel-inner img {
  height: 500px;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
}

.carousel-inner img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
a,
button {
  font-family: "Lato", sans-serif;
}

button {
  background-color: var(--color2);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: var(--color3);
  transform: translateY(-2px);
}

.card {
  height: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  object-fit: cover;
  height: 200px;
  transition: transform 0.3s;
}

.card img:hover {
  transform: scale(1.1);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-testimonio .card-body p {
  color: white; /* Esta es la línea que necesitas */
}

/* Fuentes personalizadas */
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Footer */
footer .footer-logo {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}
